body {
    font-family: "tilt warp";
    background-color: #A0CFE6;
    color:  #2394EB;
;
}

h1,
h2 {
    font-family: "tilt warp";
    font-size: 3em;
}

header {
    text-align: center;
}

#hero {
    font-family: "tilt neon";
    color: #A0CFE6;
    background-color: #2394EB;
    text-align: center;
    padding: 15px;
}

#hero img {

    width: 300px
}

#bio {
    font-family: "tilt neon";
    color: #F2F3E9;
    background-color: #2394EB ;
    padding: 15px;

}

#song {
    background-color: #A0CFE6;
    padding: 15px;
    text-align: center;
}

footer {

    font-family: "tilt neon";
    color: #F2F3E9;
    background-color: #333;
    padding: 15px;
}

#hobbies {
    font-family: "tilt neon";
    color: #F2F3E9;
    background-color: #333;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery {

    text-align: center;

}

#gallery img {
    max-width: 100%;
}


@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;

    }
}

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    #gallery h2 {
        grid-column: 1/-1;
    }

    hr {
        display: none;
    }

    figure {
        display: block;
    }

}

#lit div {
    max-width: 100%;
    columns: 40rem;
    padding: .5em;
}

#lit h2 {
    text-align: center;
}

#video{
    padding-top: 5em;
    text-align: center;
}

#formHeadder{
    text-align: center;
    padding-top: 1em;
}

#formElements{
    display: grid;
    row-gap: .5em;
}

#contact{
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset{
    border: 5px solid #333;
    margin-top: 1em;
    margin-bottom: 1em;
}

legend{
    background-color: #333;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button{
    padding: .5em;
    font-size: 1rem;
    font-family: "tilt warp";
}

#contact ul{
    list-style: none;
    padding: 0px;
}

#contact li{
    margin: 1rem;
}

#contact button{
    background-color: #333;
    color: #A0CFE6;
    border: 1px solid #2394EB;
    max-width: 400px;
    width: 50%;
    justify-self: center;
    font-size: 2rem;
}

body{
    border: 8px solid #333;
}

#iWant{
    font-size: 2em;
    font-family: "tilt warp";
}

#bio{
    text-align: center;
    padding-bottom: 3em;
}

#bio p{
    padding-left: 4em;
    padding-right: 4em;
   
}