body{
    font-family: "tilt warp";
    background-color: #2394EB;
    color:#A0CFE6;
}

h1, h2{
    font-family: "tilt warp";
    font-size: 40pt;
}

header{
    text-align: center;
}

#hero{
    font-family: "tilt neon";
    color:#A0CFE6;
    background-color:#F0600E;
    text-align: center;
    padding: 15px;
}

#hero img{

    width:300px
}

#bio{
    font-family: "tilt neon";
    color:#F2F3E9;
    background-color:#F0600E ;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#song{
    background-color: #F0600E;
    padding: 15px;
    text-align: center;
}

footer{

    font-family: "tilt neon";
    color:#F2F3E9;
    background-color:#F0600E ;
    padding: 15px;
}

#hobbies{
    font-family: "tilt neon";
    color:#F2F3E9;
    background-color:#2394EB ;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery{

    text-align: center;
}

#gallery img{

    max-width: 100px;
}